- var production = false;
- var modernizr = false;
- var jQuery = true;
- var jQueryUI = false;

//--------------------------------------------------------------forms
- var default_field_hidden = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod hline_hide_mod', field_class:'default_mod'}
- var default_field_hidden_textarea_1 = {block_class_mod:'form_cell_v2_mod',class_mod:'form_v1_mod hline_hide_mod', field_class:'default_mod', field_type:'textarea'}
- var default_field = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod', field_class:'default_mod'}
- var second_field = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod hline_hide_mod', field_class:'default_mod'}
- var search_field = {block_class_mod:'form_cell_v1_mod header_search',class_mod:'form_v1_mod hline_hide_mod header_mod', field_class:'second_mod header_mod'}
//--------------------------------------------------------------forms
- var headerMenuArray = {items:[{title:'About',active:false,link:'#learn_section_w'},{title:'Courses',active:false,link:'#course_section_w'},{title:'Testimonals',active:true,link:'#reply_section_w'},{title:'Forum',active:false,link:'#reply_slider'},{title:'Login',active:false,link:'#price_section_w'}],mod:'header_mod'}