//---------------------------------------------------------------------fonts

$font_path:'../fonts/';

$lato:'Lato', sans-serif;
$proxima_nova_soft_b:"proxima-nova-soft",sans-serif;
$font_1:$proxima_nova_soft_b;

//---------------------------------------------------------------------colors
$white:#fff;
$black:#000;

$blue:#1a3fde;
$blue_2:#00b4ff;
$blue_3:#0462ff;
$blue_4:#3d32d1;
$light_blue_1:#15c2d2;
$purple:#6f13be;
$light_green:#3ad6bb;
$light_green_2:#27d6b7;
$light_green_3:#35d6b0;
$green:#63e47b;
$green_2:#20d4b4;
$gray:#5b5b5b;
$gray_2:#222;
$gray_3:#777;
$gray_4:#aaa;
$light_gray:#f9f9f9;
$light_gray_2:#f1f1f1;


$def_text_color:#444;
$placeholder_color:#000;
$wrapper_bg:$light_gray;
//---------------------------------------------------------------------colors
//------------------------------------------------------------layout
$footer_height:100rem;
$header_height:80rem;
$header_height_mobile:300rem;
$page_width:960rem;
//------------------------------------------------------------layout###
//----------------------------------------------------------------other stuff
$gl_indent:10rem;
$base_font_size:14rem;
$e_f_field_v1_h:20rem;
$e_f_field_v2_h:20rem;
$e_f_field_v3_h:20rem;
$br_global:3px;

$point_1:1000px;
$point_2:768px;
$point_3:480px;
$point_4:320px;
//----------------------------------------------------------------other stuff