@font-face {
	font-family: "data_iconfont";
	src: url('../fonts/icons/data_iconfont.eot');
	src: url('../fonts/icons/data_iconfont.eot?#iefix') format('eot'),
	url('../fonts/icons/data_iconfont.woff') format('woff'),
	url('../fonts/icons/data_iconfont.ttf') format('truetype'),
	url('../fonts/icons/data_iconfont.svg#rtr_iconfont') format('svg');
}
%icon-arrow_right,
%icon-book,
%icon-box,
%icon-chart,
%icon-gradient,
%icon-power,
%last_selector {
		&:before {
			font-family: "data_iconfont";
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
			text-decoration: none;
			text-transform: none;
		}
	}

%icon-arrow_right:before {
	content: "\e00f";
}
%icon-book:before {
	content:'\E002';
}
%icon-box:before {
	content: "\e600";
}
%icon-chart:before {
	content:'\E004';
}
%icon-gradient:before {
	content:'\E005';
}
%icon-power:before {
	content:'\E006';
}



