//------------------------------------------------------------base styles
html {
	height: 100%;
	font: normal 1px/1.33 $font_1;
	font-weight: 300;
}

body {
	position: relative;
	min-height: 100%;
	font-size: $base_font_size;
	font-weight: 500;
	color: $def_text_color;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	overflow: hidden;
	position: relative;
	background: $wrapper_bg;
}

.disable-hover,
.disable-hover * {
	pointer-events: none !important;
}

a {
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

h2, h3, h4 {
	font-weight: 700;
	color: $gray_2;
}

p {
	color: $def_text_color;
	line-height: 1.78;
}

.hide {
	display: none !important;
}

.base {
	position: relative;
	padding: $header_height 0 $gl_indent*15;
}

.elements_list {
	padding: 30px;
	color: black;
}
//-----------------------------------------------------------base styles##
//------------------------------------------------------------common styles
.section_title {
	font-size: 30rem;
	&.black_mod {
		color: $gray_2;
	}
	&.white_mod {
		color: $white;
	}
	&.sm_mod {
		font-size: 21rem;
	}
}

.section_title_def {
	padding: $gl_indent*1.8 0 0 0;
}

//------------------------------------------------------------common styles###

//------------------------------------------------------------page_head_block
.page_head_block {
	&.full_height_mod {
		@extend %global_flex_block_row_nowrap_center_center;

		position: relative;
		height: calc(100vh - #{$header_height});
		min-height: 450rem;
		padding: 0 $gl_indent*2.6;
		background: $blue;
		color: $white;
		text-align: center;
	}
	&.auto_height_mod {
		position: relative;
		padding: $gl_indent*15 $gl_indent*2.6;
		background: $blue;
		color: $white;
		text-align: center;
	}
}

.page_head_block_in {
	position: relative;
	z-index: 10;
	flex: 0 0 auto;
	width: 100%;
}

.page_head_title {
	font-size: 50rem;
	color: $white;
}

.page_head_title_def {
	display: block;
	width: 100%;
	max-width: 580rem;
	margin:0 auto;
	padding: $gl_indent*2.4 0 0 0;
	font-family: $lato;
	font-size: 17rem;
	color:$white;
	line-height: 1.5;
}

.page_head_start_butt {
	@extend %butt_size_1;
	@extend %butt_color_1;

	display: inline-block;
	margin: $gl_indent*6 0 0 0
}

.page_head_learn_butt {
	@extend %butt_size_2;
	@extend %butt_color_1;

	display: inline-block;
	margin: $gl_indent*6 0 0 0
}

.page_head_scroll_link {
	position: absolute;
	z-index: 30;
	bottom: 40rem;
	left: 50%;
	margin-left: -8rem;
	opacity: .6;
	cursor: pointer;

	&:hover, &:focus {
		text-decoration: none;
	}

	&:hover {
		opacity: 1;
	}

	@include arrow(bottom, $white, 16rem);
}

//------------------------------------------------------------page_head_block###

//------------------------------------------------------------base styles###

//------------------------------------------------------------head slider block
.head_slider_decor_block {
	@extend %stretch;

	z-index: 5;

	overflow: hidden;

	transform: translateZ(0);
}

$time: 12s;
.head_slider_circle {
	z-index: 0;
	position: absolute;
	background: $black;
	opacity: .15;
	border-radius: 50%;
	transform: translate3d(0, 40vh, 0);
	will-change: transform;
	animation: bulb $time ease-in infinite;

	&.mod_1 {
		bottom: 50rem;
		left: percentage(80rem/1800rem);
		height: 28rem;
		width: 28rem;
		animation-delay: random($time)+ s;
	}
	&.mod_2 {
		bottom: 136rem;
		left: percentage(444rem/1800rem);
		height: 62rem;
		width: 62rem;
		animation-delay: random($time)+ s;
	}
	&.mod_3 {
		bottom: 170rem;
		right: percentage(480rem/1800rem);
		height: 46rem;
		width: 46rem;
		animation-delay: random($time)+ s;
	}
	&.mod_4 {
		bottom: 321rem;
		left: percentage(866rem/1800rem);
		height: 62rem;
		width: 62rem;
		animation-delay: random($time)+ s;
	}
	&.mod_5 {
		bottom: 60rem;
		right: percentage(790rem/1800rem);
		height: 19rem;
		width: 19rem;
		animation-delay: random($time)+ s;
	}
	&.mod_6 {
		bottom: 129rem;
		right: percentage(511rem/1800rem);
		height: 62rem;
		width: 62rem;
		animation-delay: random($time)+ s;
	}
	&.mod_7 {
		bottom: 400rem;
		left: percentage(262rem/1800rem);
		height: 20rem;
		width: 20rem;
		animation-delay: random($time)+ s;
	}
	&.mod_8 {
		bottom: 194rem;
		right: percentage(126rem/1800rem);
		height: 28rem;
		width: 28rem;
		animation-delay: random($time)+ s;
	}
	&.mod_9 {
		bottom: 350rem;
		left: percentage(65rem/1800rem);
		height: 86rem;
		width: 86rem;
		animation-delay: random($time)+ s;
	}
	&.mod_10 {
		bottom: 167rem;
		left: percentage(34rem/1800rem);
		height: 8rem;
		width: 8rem;
		animation-delay: random($time)+ s;
	}

	&.mod_20 {
		bottom: 50rem;
		left: percentage(80rem/1800rem);
		height: 28rem;
		width: 28rem;
		animation-delay: random($time)+ s;
	}
	&.mod_19 {
		bottom: 136rem;
		left: percentage(444rem/1800rem);
		height: 62rem;
		width: 62rem;
		animation-delay: random($time)+ s;
	}
	&.mod_18 {
		bottom: 170rem;
		left: percentage(480rem/1800rem);
		height: 46rem;
		width: 46rem;
		animation-delay: random($time)+ s;
	}
	&.mod_17 {
		bottom: 321rem;
		left: percentage(866rem/1800rem);
		height: 62rem;
		width: 62rem;
		animation-delay: random($time)+ s;
	}
	&.mod_16 {
		bottom: 60rem;
		right: percentage(790rem/1800rem);
		height: 19rem;
		width: 19rem;
		animation-delay: random($time)+ s;
	}
	&.mod_15 {
		bottom: 129rem;
		right: percentage(511rem/1800rem);
		height: 62rem;
		width: 62rem;
		animation-delay: random($time)+ s;
	}
	&.mod_14 {
		bottom: 400rem;
		right: percentage(262rem/1800rem);
		height: 20rem;
		width: 20rem;
		animation-delay: random($time)+ s;
	}
	&.mod_13 {
		bottom: 194rem;
		right: percentage(126rem/1800rem);
		height: 28rem;
		width: 28rem;
		animation-delay: random($time)+ s;
	}
	&.mod_12 {
		bottom: 350rem;
		right: percentage(65rem/1800rem);
		height: 86rem;
		width: 86rem;
		animation-delay: random($time)+ s;
	}
	&.mod_11 {
		bottom: 167rem;
		left: percentage(34rem/1800rem);
		height: 8rem;
		width: 8rem;
		animation-delay: random($time)+ s;
	}
}

@keyframes bulb {
	from {
		transform: translate3d(0, 40vh, 0) scale(1);
	}

	to {
		transform: translate3d(0, -30vh, 0) scale(0);
	}
}

//------------------------------------------------------------head slider block###

//------------------------------------------------------------learn section
.learn_section_w {
	padding: $gl_indent*10.2 $gl_indent*2.6 0;
}

.learn_section {
	width: 100%;
	max-width: $point_1;
	margin: 0 auto;
	text-align: center;
}

.learn_section_def {
	padding: $gl_indent*1.6 0 0 0;
	text-align: center;
	color: $gray_2;
}

.learn_list {
	padding: $gl_indent*4 0 0 0;
	margin: 0 (-$gl_indent*1.4);

	@include container();
}

.learn_item {
	position: relative;
	padding: 0 $gl_indent*1.4;

	&:before {
		@extend %st_shadow_2;

		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
		right: $gl_indent*1.4;
		left: $gl_indent*1.4;
		content: "";
		background: $white;
	}
	@include grid_item(1/3);
	@include bp($point_2) {
		margin: $gl_indent*2.6 0 0 0;

		&:first-child {
			margin: 0;
		}

		@include grid_item(1);
	}
}

.learn_block {
	position: relative;
	z-index: 10;
	width: 100%;
	min-height: 380rem;
	padding: $gl_indent*4.4 $gl_indent*2.6 $gl_indent*8.8;
	border-radius: $br_global;

	@include bp($point_2) {
		min-height: 0;
	}
}

.learn_title {
	position: relative;
	display: block;
	padding: $gl_indent*10.6 0 0 0;
	font-size: 21rem;
	text-align: center;
}

.learn_title_icon {
	position: absolute;
	top: 0;
	left: 50%;
	height: 86rem;
	width: 86rem;
	margin-left: -43rem;
	border-radius: 50%;
	overflow: hidden;

	&.green_mod {
		background: $green_4;
	}
	&.yellow_mod {
		background: $yellow_1;
	}
	&.light_green_mod {
		background: $green_2;
	}
	.power_icon {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -19rem;
		margin-left: -13rem;
		width: 26rem;
		height: 38rem;
	}
	.chart_icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 38rem;
		height: 38rem;
		margin-left: -19rem;
		margin-top: -19rem;
	}
	.reading_icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 38rem;
		height: 40rem;
		margin-left: -19rem;
		margin-top: -20rem;
	}
}

.learn_text {
	padding: $gl_indent*2.6 0 0 0;
	text-align: center;
	line-height: 1.5;
	color: $gray_2;
}

//-----------------------------------------product features
.product_feat_block {
	padding: $gl_indent*4 0 0 0;
}

.product_feat_block_title {
	position: relative;
	text-align: center;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 1rem;
		background: $light_gray_5;
		top: 50%;
	}
	span {
		position: relative;
		z-index: 10;
		display: inline-block;
		padding: 0 $gl_indent*4.4;
		font-size: 18rem;
		color: $gray_2;
		background: $light_gray;
	}
}

.product_feat_list {
	@extend %global_flex_block_row_wrap_flex-start_stretch;

	padding: $gl_indent*4 0 0 0;
	margin: 0 (-$gl_indent*2.2);

	@include bp($point_3) {
		margin: 0;
		padding: $gl_indent*4 0;
	}
}

.product_feat_item {
	flex: 0 0 auto;
	width: 33.3333%;
	text-align: left;
	padding: 0 $gl_indent*2.2 $gl_indent*4.4;

	@include bp($point_2) {
		width: 50%;
	}

	@include bp($point_3) {
		width: 100%;
		padding: $gl_indent*2.2 0 0 0;

		&:first-child {
			padding: 0;
		}
	}
}

.product_feat_item_block {
	position: relative;
}

.product_feat_title {
	padding: 0 $gl_indent*3 0 0;
}

.product_feat_text {
	padding: $gl_indent*1.8 0 0 0;
	font-family: $lato;
	color: $gray_5;
}

.product_icon {
	position: absolute;
	top: 0;
	right: 0;
}

//-----------------------------------------product features###

//------------------------------------------------------------learn section###

//------------------------------------------------------------courses section
.course_section_w {
	padding: $gl_indent*10.2 $gl_indent*2.6;
}

.course_section {
	width: 100%;
	max-width: $point_1;
	margin: 0 auto;
}

.courses_section_def {
	padding: $gl_indent*1.6 0 0 0;
	text-align: center;
	color: $gray_2;
}

.courses_info {
	padding: $gl_indent*2.6 $gl_indent*5;
}

.courses_info_item {
	color: $gray_2;
}

.course_list {
	@extend %st_shadow_2;

	padding: $gl_indent*.6;
	margin: $gl_indent*3 0 0;
	background: $white;
	border-radius: $br_global;
	overflow: hidden;

	@include container();
}

.course_item {
	background: $white;
	padding: $gl_indent*1.2;

	@include grid_item(1/3);
	@include bp($point_1) {
		@include grid_item(1/2);
	}
	@include bp($point_2) {
		@include grid_item(1);
	}
}

.course_block {
	position: relative;
	display: block;
	width: 100%;
	min-height: 130rem;
	padding: $gl_indent*2;
	color: $def_text_color;
	background: $light_gray;
	transition: all .3s ease;
	border-radius: $br_global;

	&:hover, &:focus {
		text-decoration: none;
	}

	&:hover {
		background: $green_2;
		color: $white;

		p {
			color: $white;
		}

		.course_title {
			color: $white;
		}
	}
	@include bp($point_2) {
		min-height: 0;
	}
}

.course_title {
	font-size: 18rem;
	color: $gray_2;
	font-weight: 700;
}

.course_def {
	padding: $gl_indent*2 0 0 0;
	line-height: 1.5;
}

.course_icon {
	position: absolute;
	width: 34rem;
	height: 34rem;
	top: 12rem;
	right: 12rem;
	color: $white;
	border-radius: 50%;
	transition: all .3s ease;

	&.green_1_mod {
		background: $green;
	}
	&.purple_mod {
		background: $purple;
	}
	&.blue_1_mod {
		background: $blue_2;
	}
	&.blue_2_mod {
		background: $blue_3;
	}
	&.blue_3_mod {
		background: $light_blue_1;
	}
	&.green_2_mod {
		background: $light_green_2;
	}
	&.blue_4_mod {
		background: $blue_4;
	}

	.box_icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 16rem;
		height: 16rem;
		margin-top: -8rem;
		margin-left: -8rem;
		fill: $white;
		transform: translateZ(0);
	}

	.course_block:hover & {
		background: $light_green_2;
	}
}

.course_link_decor {
	position: absolute;
	right: 16rem;
	bottom: 18rem;
	transition: all .3s ease;

	.right_arrow_icon {
		fill: $light_gray;
	}
}

//------------------------------------------------------------courses section###

//------------------------------------------------------------reply section
.reply_section_w {
	padding: $gl_indent*4.4 $gl_indent*2.6 $gl_indent*7;
	background: url(../i/chart_bg.png) 50% 100%;
	background-size: cover;
	overflow: hidden;
}

.reply_section {
	width: 100%;
	max-width: $point_wide;
	margin: 0 auto;
	text-align: center;
}

.reply_list {
	@extend %global_flex_block_row_wrap_flex-start;

	padding: $gl_indent*5 0 0;
	margin: 0 (-$gl_indent*4.6);

	@include bp($point_2) {
		margin: 0;
	}
}

.reply_item {
	flex: 0 0 auto;
	width: 33.3333%;
	padding: 0 $gl_indent*4.6;

	@include bp($point_2) {
		width: 100%;
		padding: $gl_indent*4.6 0 0 0;

		&:first-child {
			padding: 0;
		}
	}
}

.reply_block {

}

.reply_autor_i_w {
	@extend %st_shadow_2;

	width: 76rem;
	height: 76rem;
	margin: $gl_indent*2.8 auto 0;
	border-radius: 50%;
	overflow: hidden;
}

.reply_autor_i {
	display: block;
	width: 100%;
}

.reply_text_block {
	@extend %st_shadow_2;

	position: relative;
	padding: $gl_indent*1.7 $gl_indent*2.4;
	text-align: center;
	border-radius: $br_global;
	background: $white;

	&:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);

		@include triangle(bottom, $white, 8);
	}
}

.reply_text {
	font-size: 13rem;
	line-height: 23rem;
	font-weight: 500;
}

.reply_autor {
	font-size: 14rem;
	font-weight: 700;
	line-height: 25rem;
}

//------------------------------------------------------------reply section###

//------------------------------------------------------------tracks section
.tracks_section_w {
	padding: 0 $gl_indent*2.6;
}

.tracks_section {
	width: 100%;
	max-width: $point_1;
	margin: 0 auto;
	padding: $gl_indent*7 0 $gl_indent*11;
	text-align: center;
}

.tracks_list {
	@extend %global_flex_block_row_wrap_flex-start_stretch;

	padding: $gl_indent*4 0 0 0;
	margin: 0 (-$gl_indent*1.8);

	@include bp($point_2) {
		margin: 0;
	}
}

.track_item {
	flex: 0 0 auto;
	width: 50%;
	padding: 0 $gl_indent*1.8 $gl_indent*3.6;

	&.add_mod {
		@extend %global_flex_block_row_nowrap_center_center;
	}

	@include bp($point_2) {
		width: 100%;
		padding: $gl_indent*3.6 0 0 0;
		&:first-child {
			padding: 0;
		}
	}
}

.track_block {
	@extend %st_shadow_3;

	text-align: left;
	background: $white;
	border-radius: 3rem;
	overflow: hidden;
}

.track_block_main {
	position: relative;
	padding: $gl_indent*2.4;
}

.track_add_butt {
	@extend %transition_background;

	width: 60rem;
	height: 60rem;
	position: absolute;
	top: 0;
	right: 0;
	background: $light_gray_3;

	&:hover, &:focus {
		text-decoration: none;
	}

	&:hover {
		background: darken($light_gray_3, 5%);
	}

	&:before {
		content: "";
		position: absolute;
		width: 24rem;
		height: 2rem;
		background: $white;
		left: 50%;
		top: 50%;
		margin-left: -12rem;
		margin-top: -1rem;
	}
	&:after {
		content: "";
		position: absolute;
		width: 2rem;
		height: 24rem;
		left: 50%;
		top: 50%;
		margin-left: -1rem;
		margin-top: -12rem;
		background: $white;
	}
}

.track_title {
	font-size: 18rem;
	color: $gray_2;
}

.track_text {
	position: relative;
	padding: $gl_indent*4 0 0 0;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 20rem;
		width: 64rem;
		height: 4rem;
		background: $light_gray;
	}
}

.track_footer {
	height: 60rem;
	color: $white;
	.light_green_mod & {
		background: $green_2;
	}
	.green_mod & {
		background: $green_3;
	}
	.blue_mod & {
		background: $light_blue_2;
	}
}

.track_info_list {
	@extend %global_flex_block_row_wrap_flex-start_center;

	height: 60rem;
	line-height: 60rem;
	padding: 0 $gl_indent*2.4;
}

.track_info_item {
	flex: 0 0 auto;
	padding: 0 0 0 $gl_indent*2;

	&:first-child {
		padding: 0;
	}
}

.track_info_text {
	position: relative;
	padding: 0 0 0 $gl_indent*3;
	font-size: 13rem;
	font-family: $lato;
}

.track_info_icon {
	position: absolute;
	left: 0;
	top: 50%;
	&.step_mod {
		width: 20rem;
		height: 15rem;
		margin-top: -8rem;
	}
	&.stud_mod {
		width: 19rem;
		height: 20rem;
		margin-top: -12rem;
	}
}

.track_add_block {
	flex: 0 0 auto;
}

.track_add_title {
	position: relative;
	padding: 0 0 0 $gl_indent*6.6;
	color: $light_gray_4;
	font-size: 16rem;
}

.track_add_icon {
	position: absolute;
	left: 0;
	top: 50%;
	width: 46rem;
	height: 46rem;
	margin-top: -23rem;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -1rem;
		width: 46rem;
		height: 2rem;
		background: $light_gray_3;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 2rem;
		height: 46rem;
		margin-left: -1rem;
		background: $light_gray_3;
	}
}

//------------------------------------------------------------tracks section###
//------------------------------------------------------------icons
.power_icon {
	&.white_mod {
		fill: $white;
		path {
			fill: $white;
		}
	}
}

.chart_icon {
	&.product_icon {
		width: 19rem;
		height: 19rem;
	}
	&.white_mod {
		fill: $white;
		path {
			fill: $white;
		}
	}
	&.gray_mod {
		fill: $gray_6;
		path {
			fill: $gray_6;
		}
	}
}

.box_icon {
	&.product_icon {
		width: 19rem;
		height: 20rem;
	}
	&.gray_mod {
		fill: $gray_6;
	}
}

.heart_icon {
	&.product_icon {
		height: 20rem;
		width: 20rem;
	}
	&.gray_mod {
		fill: $gray_6;
		path {
			fill: $gray_6;
		}
	}
}

.check_icon {
	&.st_mod {
		width: 13rem;
		height: 12rem;
		margin: 0 $gl_indent*.6 0 0;
	}
	&.gray_mod {
		fill:$gray_3;
		path {
			fill:$gray_3;
		}
	}
	&.step_complete_mod {
		fill:#186bff;
		path {
			fill:#186bff;
		}
	}
}

.timer_icon {
	&.gray_mod {
		fill: $gray_3;
		path {
			fill:$gray_3;
		}
	}
}


//------------------------------------------------------------icons###
