extends _layout
include templates/_global_mixins
include templates/_global_vars
include templates/_project_mixins
include templates/_project_vars
block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Title of the page'}

block content_block
	.head_slider_w
		.head_slide_fist_part
			h1.head_start_title Learn data science in your browser.
			.head_start_def
				p Start analyzing real data today, for free. Join 50,000 other learners from around the world.
			a(href="#").head_start_butt Get Started
		.head_slider_list_w
			ul.head_slider_list#head_slider
				-var n = 1
				while n < 5
					li.head_slider_item
						.head_slider_item_in
							.head_slide_sec_part
								.head_course_block
									.head_course_title_w
										h2.head_course_title Courses
									.head_course_text_w
										h3.head_cource_text_title Data Visualization
										.head_cource_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua. Ut enim ad minim veniam, quis nostrud exercitay. ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
									a(href="#").head_course_more_butt
					-n++

		.head_slider_decor_block
			-var a = 1
			while a < 21
				.head_slider_circle(class='mod_#{a}')
				-a++
		a(href="#").head_slider_more_link#learn_scroll_link Learn More
	.learn_section_w#learn_section_w
		section.learn_section
			h2.section_title.st_mod Learn with us
			.learn_section_def
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			ul.learn_list
				li.learn_item
					.learn_block
						h2.learn_title.lightning_mod Stay Motivated
						.learn_text
							p Learn data science by finding the answers to interesting questions, like "which airline is delayed the most?", and "what writing patterns are in CIA documents?".
				li.learn_item
					.learn_block
						h2.learn_title.grad_mod Learn by Doing
						.learn_text
							p Learn interactively. You'll be writing real python code within minutes, all on our interactive coding and data analysis platform. We only have a few videos, and they're as short as we can make them.
				li.learn_item
					.learn_block
						h2.learn_title.clock_mod Develop real-world skill
						.learn_text
							p We give you real datasets and problems, and help teach you how to solve them. You'll learn skills that you can immediately apply. The best way to learn data science is to work with actual data.
	.course_section_w#course_section_w
		section.course_section
			h2.section_title.st_mod Courses
			.courses_section_def
				p All courses are free, pick one and get started
			ul.course_list
				+course_item('Learning Python','Learn python, a programming language commonly used for data science.','green_1')
				+course_item('Data Analysis','Analyze data sets and find meaningful insights.','purple')
				+course_item('Statistics','Learn about statistical methods, and how to perform them in python.','blue_1')
				+course_item('Data Visualization','Discover how to make great - looking charts and graphs.','blue_2')
				+course_item('Machine Learning','Make predictions on real data using powerful algorithms.','blue_2')
				+course_item('Linear Algebra','Study linear algebra, the foundation of much of data science.','blue_3')
				+course_item('Kaggle Competitions','Learn how to get started with a Kaggle competition.','green_2')
				+course_item('Lessons','Lessons on various data science topics.','blue_4')
				+course_item('Machine Learning','Make predictions on real data using powerful algorithms.','green_1')
	.reply_section_w#reply_section_w
		.reply_section
			.reply_main
				h2.section_title.reply_mod Hear From Our Users
				.reply_section_def
					p Trusted worldwide by companies, schools, and people like you. Over 154,000 students, ranging from beginner to professional, use Treehouse to develop and improve their skills.
			.reply_slider_w
				ul.reply_slider_list#reply_slider
					li.reply_item.active_slide
						.reply_block
							.reply_autor_i_w
								img(alt="" src="i/client_1.png").reply_autor_i
							.reply_text_w
								.reply_text_block
									.reply_text
										p "Dataquest is the perfect platform to learn about data science by applying newly acquired python principles to real world data!"
									.reply_autor
										p Glenn V.
						li.reply_item
							.reply_block
								.reply_autor_i_w
									img(alt="" src="i/client_1.png").reply_autor_i
								.reply_text_w
									.reply_text_block
										.reply_text
											p "Dataquest is the perfect platform to learn about data science by applying newly acquired python principles to real world data!
										.reply_autor
											p Glenn V.

	.price_section_w#price_section_w
		.price_section
			.price_about
				h2.section_title.price_mod Premium
				.premium_section_def
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				a(href="#").price_mail_butt Email us
			ul.price_main_list
				li.price_main_item
					.price_main_block
						h3.price_main_title Free
						ul.price_includes_list
							li.price_include_item
								span.price_include_item_in.free_mod Benefit #1
							li.price_include_item
								span.price_include_item_in.free_mod Benefit #2
							li.price_include_item
								span.price_include_item_in.free_mod Benefit #3
							li.price_include_item
								span.price_include_item_in.free_mod Benefit #4
						a(href="#").price_get_butt Get started
				li.price_main_item
					.price_main_block
						h3.price_main_title 30$ / Monthly
						ul.price_includes_list
							li.price_include_item
								span.price_include_item_in.free_mod Benefit #1
							li.price_include_item
								span.price_include_item_in.free_mod Benefit #2
							li.price_include_item
								span.price_include_item_in.free_mod Benefit #3
							li.price_include_item
								span.price_include_item_in.free_mod Benefit #4
							li.price_include_item
								span.price_include_item_in.pay_mod Benefit #5
							li.price_include_item
								span.price_include_item_in.pay_mod Benefit #6
						a(href="#").price_get_butt Get started






